# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PyCharm\mx-toolbox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
